# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# C/C++
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.out
*.app
build/
bin/
dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# STM32CubeIDE / Eclipse
MCU/.cproject
MCU/.project
MCU/.mxproject
MCU/.settings/
MCU/Debug/
MCU/Release/

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Documentation
imu_ds.pdf
mag_ds.pdf
mcu_refmanual.pdf
cm4f_progmanual.pdf
bar30_ds.pdf
