# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# C/C++
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.out
*.app
build/
bin/
dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Documentation
imu_ds.pdf
